In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

pd.set_option('display.width', None)
pd.set_option('display.max_columns', None) 

%load_ext autoreload
%autoreload 2
import logging
logging.basicConfig(level=logging.INFO)

In [2]:
df = pd.read_csv('../data/Iris.csv')

In [3]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# MLBox

In [4]:
from mlbox.preprocessing import Reader, Drift_thresholder
from mlbox.optimisation import Optimiser
from mlbox.prediction import Predictor

In [7]:
paths = ["../data/train.csv","../data/test.csv"]
target_name = "Species"

In [8]:
rd = Reader(sep = ",")
df = rd.train_test_split(paths, target_name)

reading csv : train.csv ...
cleaning data ...
CPU time: 22.526970148086548 seconds

reading csv : test.csv ...
cleaning data ...
CPU time: 8.081974029541016 seconds

> Number of common features : 4

gathering and crunching for train and test datasets ...
reindexing for train and test datasets ...
dropping training duplicates ...
dropping constant variables on training set ...

> Number of categorical features: 0
> Number of numerical features: 4
> Number of training samples : 103
> Number of test samples : 45

> You have no missing values on train set...

> Task : classification
Iris-virginica     35
Iris-versicolor    35
Iris-setosa        33
Name: Species, dtype: int64

encoding target ...

In [9]:
df['train']

     PetalLengthCm  PetalWidthCm  SepalLengthCm  SepalWidthCm
0              1.6           0.2            5.1           3.8
1              5.5           2.1            6.8           3.0
2              1.3           0.2            5.5           3.5
3              1.7           0.5            5.1           3.3
4              1.2           0.2            5.0           3.2
..             ...           ...            ...           ...
99             4.5           1.6            6.0           3.4
100            4.1           1.0            5.8           2.7
101            4.5           1.5            5.6           3.0
102            1.4           0.2            5.0           3.3
104            5.5           1.8            6.5           3.0

[103 rows x 4 columns]